body, html{
 background: url(../src/images/backgroundimage.webp);
 background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
 }
 
 
 body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 200px 0 50px 0;
 
}

.navbar{

  background: url(../src/images/farmBG.jpg);
  background-size: cover;
   background-position: center -650px;
   background-attachment: fixed;
   background-repeat: no-repeat;
 margin-bottom: 20px;
height: 150px;
display: flex;
align-items: center;
padding: 0 1rem;
border: 2px solid whitesmoke;

}

@media screen and (max-width: 768px) { /* For smaller screens */
  .navbar {
    background-position: center -550px; /* Keep the same portion visible */
    height: 120px; /*  Adjust the navbar height for smaller screens */
  }
}

.navbar-brand{text-shadow: 2px 2px 3px black;
 color: whitesmoke;

 font-size: 1.5rem;
}

@media (min-width: 768px){
 .navbar-brand{
  font-size: 2.5rem;
 }
}

.navbar.fixed-top{
 box-shadow: 0 2px 4px rgba(0,0,0,0.1);
z-index: 100;
}


.image-container {
  height: 200px;
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.image-container img {
  height: 100%; 
  width: auto; 
  object-fit: cover; 
}

.product-card {
 color: rgb(248, 247, 247);
 text-shadow: 2px 2px 5px rgb(16, 16, 16);
background: rgba(72, 72, 72, 0.849);

}

.product-card .card-body{
 flex-grow: 1;
}

.product-card h5{
 font-size: 1.5rem;
 margin-bottom: 10px;
 font-weight: bolder;
}

.product-card p{
 color: rgb(229, 227, 227);
 text-shadow: 2px 2px 5px black;
}

.product-card button{
 align-self: self-start;
 margin-top: auto;
 color: rgb(247, 242, 242);
 text-shadow: 1px 1px 5px rgb(93, 91, 91);
}

.row{
 row-gap: 20px;
}


.cart{
 padding: 10px;
 background:rgba(186, 186, 186, 0.699);
 border-radius: 15px;
 font-size: 20px;
 
}

.table th, .table td{
 background: rgba(245, 245, 245, 0);
}

.cart-table button{
 opacity: 0.8;
 transition: opacity 0.3s ease;
}

.cart-table button:hover{
 opacity: 1;
}

.cart h2, p{
 font-weight: bolder;
 letter-spacing: 1px;
 color: rgb(254, 251, 251);
 text-shadow: 2px 2px 5px rgb(15, 14, 14);
}


.checkout, .checkout-message{
text-align: center;
color: whitesmoke;
text-shadow: 2px 2px 3px black;
}

.checkout h1{
 margin-top: 150px;
 font-size: 3rem;
 font-weight: bold;
}

