body{
 background-color: rgb(248, 249, 250);
 font-family: Arial, Helvetica, sans-serif;
}

.navbar{
 margin-bottom: 20px;
background: rgb(2, 29, 56);
}

.product-card {

border: 1px solid rgb(255, 255, 255);
}

.product-card .card-body{
 flex-grow: 1;
}

.product-card h5{
 font-size: 1.2rem;
 margin-bottom: 10px;
}

.product-card button{
 align-self: self-start;
 margin-top: auto;
}

.row{
 row-gap: 20px;
}


.cart{
 padding: 10px;
 background:rgb(245, 245, 245);
}

.checkout{

}

