body, html{
 background: url(../src/images/backgroundimage.webp);
 background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
 }
 
 
 body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 150px 0 50px 0;
 
}

.navbar{
 margin-bottom: 20px;
background: rgba(2, 29, 56, 0.989);
height: 100px;
display: flex;
align-items: center;
padding: 0 1rem;

}

.navbar.fixed-top{
 box-shadow: 0 2px 4px rgba(0,0,0,0.1);
z-index: 100;
}



.product-card {
 color: rgb(248, 247, 247);
 text-shadow: 2px 2px 5px rgb(16, 16, 16);
background: rgba(72, 72, 74, 0.689);

}

.product-card .card-body{
 flex-grow: 1;
}

.product-card h5{
 font-size: 1.5rem;
 margin-bottom: 10px;
 font-weight: bolder;
}

.product-card p{
 color: rgb(229, 227, 227);
 text-shadow: 2px 2px 5px black;
}

.product-card button{
 align-self: self-start;
 margin-top: auto;
 color: rgb(247, 242, 242);
 text-shadow: 1px 1px 5px rgb(93, 91, 91);
}

.row{
 row-gap: 20px;
}


.cart{
 padding: 10px;
 background:rgba(245, 245, 245, 0.699);
 border-radius: 15px;
 font-size: 20px;
 
}

.table th, .table td{
 background: rgba(245, 245, 245, 0);
}

.cart-table button{
 opacity: 0.8;
 transition: opacity 0.3s ease;
}

.cart-table button:hover{
 opacity: 1;
}

.cart h2, p{
 font-weight: bolder;
 letter-spacing: 1px;
 color: rgb(15, 15, 15);
 text-shadow: 2px 2px 5px rgb(241, 238, 238);
}


.checkout{
text-align: center;
margin-top: 50px;
}

